.drink-section {
  text-align: center;
}

.drink-section-title {
  font-family: "coolvetica", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.drink-section-name {
  padding-bottom: 35px;
}

.drink-section-img {
  align-items: center;
  width: 300px;
  margin: auto;
}

.drink-section-img-dt {
  align-items: center;
  width: 330px;
  margin: auto;
  position: relative;
  top: 85px;
  left: 20px;
}

@media (max-width: 1000px) {
  .drink-section-img-dt {
    display: none;
  }
}

@media (max-width: 1000px) {
  .drink-section-name-dt {
    display: none;
  }
}

@media (min-width: 1000px) {
  .drink-section-title {
    font-size: 30px;
  }
}
