@media (max-width: 1000px) {
  .header-img-dt {
    display: none;
  }
}

.header-img-dt {
  max-width: auto;
}

.nav-container {
  background-color: red;
}

@media (min-width: 1000px) {
  .nav-container {
    background-color: red;
  }
}

@media (min-width: 1000px) {
  .nav a {
    font-size: 30px;
  }
}

.header-img-dt {
  width: 50vw;
}

.nav-title {
  font-family: "coolvetica", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-left: 45px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.header-text {
  font-family: "coolvetica", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 40px;
}

.header-text-title {
  font-family: "coolvetica", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 15px;
}

@media (min-width: 1000px) {
  .header-text {
    font-size: 20px;
  }
  .header-text-title {
    font-size: 30px;
    padding-top: 20px;
  }
  .nav-title {
    font-size: 80px;
    padding-bottom: 5s0px;
  }
  .img-header {
    margin-top: 10px;
  }
}

.language-button {
  display: none;
}

.img-header {
  padding-top: 30px;
  padding-bottom: 20px;
}
