.valeur-section {
  text-align: center;
}

.valeur-title {
  font-family: "coolvetica", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 20px;
}

.valeur-img {
  padding-top: 20px;
  padding-bottom: 30px;
}

.valeur-text {
  margin-left: 20px;
  margin-right: 20px;
}
