.vente-section {
  position: relative;
}

.vente-title {
  font-family: "coolvetica", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 30px;
}

.vente-shape {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.vente-shape img {
  position: relative;
  display: block;
  height: 100%;
  width: 100vw;
}

.vente-txt {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "coolvetica", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.blue-section {
  background-image: url(/src/img/blue-section.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center;
}

.rounded-button-blue {
  background-color: #ededed;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 80px 2px;
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 66px;
}

.orange-section {
  background-image: url(/src/img/orange-section.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center;
}

.rounded-button-orange {
  background-color: #ededed;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 80px 2px;
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 66px;
}

@media (min-width: 1000px) {
  .vente-section-all {
    display: none;
  }
}
