a.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.rounded-button {
  background-color: #ededed;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 66px;
}
