a.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.rounded-button {
  background-color: #ededed;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 66px;
}

@media (min-width: 1000px) {
  .rounded-button {
    background-color: #ededed;
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 66px;
  }
  .rounded-button {
    font-size: 20px;
  }
}
