.footer-section {
  background-color: bisque;
}

.footer-title {
  font-family: CoolveticaRg-Regular;
  font-size: 40px;
  margin-left: 45px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer-text {
  text-align: center;
  margin-left: 45px;
  margin-right: 45px;
  padding-bottom: 30px;
}

.discover-title {
  font-family: CoolveticaRg-Bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0;
  padding-bottom: 30px;
  text-align: center;
}

.footer-img {
  width: 280px;
  padding-bottom: 50px;
  margin: auto;
}

.logo-footer {
  width: 180px;
  margin-left: 45px;
  padding-bottom: 60px;
}
