.footer-section {
  background-color: rgb(0, 0, 0);
}

.footer-title {
  font-family: CoolveticaRg-Regular;
  font-size: 50px;
  margin-left: 45px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
}

.footer-text {
  text-align: center;
  margin-left: 45px;
  margin-right: 45px;
  padding-bottom: 30px;
  color: white;
}

.discover-title {
  font-family: CoolveticaRg-Bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0;
  padding-bottom: 30px;
  text-align: center;
}

.footer-img {
  width: 280px;
  padding-bottom: 50px;
  margin: auto;
}

.logo-footer {
  width: 180px;
  margin-left: 45px;
  padding-bottom: 60px;
}

.nav-footer {
  display: flex;
  margin-left: 35px;
  padding-bottom: 30px;
  color: white;
}
