@media (max-width: 1000px) {
  .header-desktop-img {
    display: none;
  }
}

.nav-container {
  background-color: red;
  height: 500px;
}

.nav-title {
  font-family: CoolveticaRg-Regular;
  font-size: 40px;
  margin-left: 45px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.header-text {
  font-family: CoolveticaBk-Regular;
  font-size: 15px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.header-text-title {
  font-family: CoolveticaRg-Regular;
  font-size: 20px;
  padding-bottom: 15px;
}

.language-button {
  display: none;
}

.img-header {
  padding-bottom: 65px;
}
