/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  font-family: "coolvetica", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  font-family: "coolvetica", sans-serif;
  font-size: 20px;
  margin-left: 45px;
}

hr {
  border-color: black;
  border-width: 0.5px;
  margin-bottom: 25px;
  margin-top: 15px;
}

/* ====================================
// base rules
// ==================================== */
