a {
  text-decoration: none;
  font-family: "coolvetica", sans-serif;
  font-size: 20px;
  margin-left: 45px;
}

hr {
  border-color: black;
  border-width: 0.5px;
  margin-bottom: 25px;
  margin-top: 15px;
}
