.nav-container {
  background-color: red;
  height: 450px;
}

.nav-title {
  font-family: CoolveticaRg-Regular;
  font-size: 40px;
  margin-left: 45px;
  padding-top: 30px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  font-family: CoolveticaBk-Regular;
  font-size: 18px;
  margin-left: 45px;
}

hr {
  border-color: black;
  border-width: 0px;
  padding-bottom: 35px;
}

.header-text {
  font-family: CoolveticaBk-Regular;
  font-size: 15px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.header-text-title {
  font-family: CoolveticaRg-Regular;
  font-size: 20px;
  padding-bottom: 15px;
}
